::-webkit-input-placeholder {
  color: #666;
}
::-webkit-selection {
  background: #98272b !important;
  color: #fff;
  text-shadow: 0 0 transparent;
}
/* Firefox 19+ */
::-moz-placeholder {
  color: #666;
}
::-moz-selection {
  background: #98272b !important;
  color: #fff;
  text-shadow: 0 0 transparent;
}
/* IE 10+ */
:-ms-input-placeholder {
  color: #666;
}
::-ms-selection {
  background: #98272b !important;
  color: #fff;
  text-shadow: 0 0 transparent;
}
/* Firefox 18- */
:-moz-placeholder {
  color: #666;
}
::selection {
  background: #98272b !important;
  color: #fff;
  text-shadow: 0 0 transparent;
}
body {
  overflow-x: hidden;
}
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-right: -15px;
  margin-left: -15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
p {
  margin-top: 0;
}

.h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-22 {
  font-size: 22px;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-700 {
  font-weight: 700;
}
.text-align-center {
  text-align: center !important;
}
.text-align-right {
  text-align: right !important;
}
.text-align-left {
  text-align: left !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-muted {
  color: #6c757d !important;
}
.text-grey {
  color: #606060;
}
.text-danger {
  color: #98272b !important;
}
.text-white {
  color: #fff !important;
}
.background-danger {
  background: #98272b !important;
}
.button {
  display: inline-block;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button-small {
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
}
.button-danger {
  color: #fff;
  background-color: #98272b;
  border-color: #98272b;
}
.form-button {
  padding: 0.2rem 0.75rem;
  font-size: 1rem;
  /* border-color: #ccc; */
  position: absolute;
  right: 0;
  top: 10px;
  border: 1px solid transparent;
  line-height: 1.5;
  background-color: transparent;
  border-color: #ccc;
}

.form-button:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.link-text {
  color: #58595b;
  line-height: 30px;
  font-size: 12px;
}
.width-100 {
  width: 100% !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}
.padding-bottom-8 {
  padding-bottom: 8px !important;
}
.padding-bottom-15 {
  padding-bottom: 15px !important;
}
.padding-bottom-16 {
  padding-bottom: 16px !important;
}
.padding-8 {
  padding: 8px !important;
}
.padding-10 {
  padding: 10px !important;
}
.padding-16 {
  padding: 16px !important;
}
.padding-left-8 {
  padding-left: 8px !important;
}
.padding-y-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.padding-y-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.padding-y-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.padding-x-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.padding-x-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.padding-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.padding-x-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.padding-top-4 {
  padding-top: 4px !important;
}
.padding-top-16 {
  padding-top: 16px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-right-0 {
  padding-right: 0px !important;
}
.padding-right-48 {
  padding-right: 48px !important;
}
.padding-left-48 {
  padding-left: 48px !important;
}
.padding-top-0 {
  padding-top: 0px !important;
}
.margin-auto {
  margin: auto;
}
.margin-top-0 {
  margin-top: 0 !important;
}
.margin-bottom-2 {
  margin-bottom: 2px !important;
}
.margin-bottom-8 {
  margin-bottom: 8px !important;
}
.margin-top-4 {
  margin-top: 4px !important;
}
.margin-top-6 {
  margin-top: 6px !important;
}
.margin-top-8 {
  margin-top: 8px !important;
}
.margin-top-16 {
  margin-top: 16px !important;
}
.margin-bottom-16 {
  margin-bottom: 16px !important;
}
.margin-bottom-none {
  margin-bottom: 0px !important;
}
.margin-right-8 {
  margin-right: 8px;
}
/* best so far */
.slick-slide {
  padding-right: 8px;
  padding-left: 8px;
  box-sizing: border-box;
}

.margin-none {
  margin: 0px !important;
}
.margin-5 {
  margin: 5px !important;
}
.border-bottom-off-white {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-off-white {
  border: 1px solid #dee2e6 !important;
}
.border-top-off-white {
  border-top: 1px solid #dee2e6 !important;
}
.border-top-ccc {
  border-top: 1px solid #ccc;
}
.border-bottom-light {
  border-bottom: 1px solid #eaeaea;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded {
  border-radius: 0.25rem !important;
}
.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.display-flex {
  display: flex;
}
.justify-center {
  justify-content: center !important;
}
.display-inline-block {
  display: inline-block !important;
}
.column-flex-container {
  display: flex;
  flex-direction: column;
}
.cartBtn {
  position: fixed;
  bottom: 50px;
  right: 5%;
  z-index: 99;
  border-radius: 50%;
  overflow: hidden;
  width: 54px;
  text-align: center;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5) !important;
  background: #bc3f3d;
  padding: 6px 10px;
}
.cartBtn span {
  display: block;
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin: 0 0 -6px;
}
.cartBtn img {
  max-width: 100%;
}

/* Header CSS */
.hamburger-icon:before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
}
.hamburger-icon {
  vertical-align: middle;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 100;
  cursor: pointer;
  display: inline-block;
}
.hamburger-icon div {
  position: absolute;
  height: 2px;
  right: 2px;
  left: 2px;
  background-color: #2c5baa;
  border: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out 0.2s,
    top 0.2s ease-in-out 0.2s, background-color 0.3s;
  -moz-transition: -moz-transform 0.2s ease-in-out 0.2s,
    top 0.2s ease-in-out 0.2s, background-color 0.3s;
  -o-transition: -o-transform 0.2s ease-in-out 0.2s, top 0.2s ease-in-out 0.2s,
    background-color 0.3s;
  transition: transform 0.2s ease-in-out 0.2s, top 0.2s ease-in-out 0.2s,
    background-color 0.3s;
  vertical-align: top;
}
.hamburger-icon div.top {
  top: 25%;
  margin-top: -1px;
}
.open-nav .hamburger-icon div.top {
  transform: rotate(-135deg);
  top: 50%;
  background-color: #d62625;
}
.hamburger-icon div.middle {
  top: 50%;
  margin-top: -1px;
}
.open-nav .hamburger-icon div.middle {
  opacity: 0;
}
.hamburger-icon div.bottom {
  top: 75%;
  margin-top: -1px;
}
.open-nav .hamburger-icon div.bottom {
  transform: rotate(135deg);
  top: 50%;
  background-color: #d62625;
}
.open-nav .off-canvas-main {
  transform: translateX(260px);
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.open-nav .off-canvas-nav {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.off-canvas-nav {
  position: fixed;
  width: 260px;
  left: -260px;
  background-color: #ffffff;
  border-right: 1px solid #c5c5c5;
  overflow-y: auto;
  z-index: 100;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.off-canvas-nav .list-unstyled li {
  position: relative;
}
.off-canvas-nav .list-unstyled li + li:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  height: 1px;
  background-color: #c5c5c5;
}
.off-canvas-nav .list-unstyled a {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  line-height: 40px;
  padding: 0 20px;
  color: #58595b;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
}
.off-canvas-nav li.parent > a:after {
  content: "";
  float: right;
  background-image: url(/images/spritesheet.png);
  background-position: -257px -232px;
  width: 7px;
  height: 12px;
  margin: 14px 0;
}
.left-nav-toplink {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.off-canvas-nav .subMenu > div > span {
  text-align: right;
  position: relative;
  line-height: 40px;
  padding: 0 15px;
  font-size: 12px;
  cursor: pointer;
}
.off-canvas-nav .subMenu > div > span:before {
  content: "";
  display: inline-block;
  background-image: url(/images/spritesheet.png);
  background-position: -257px -220px;
  width: 7px;
  height: 12px;
  margin: -2px 8px;
}

/* .open-nav .hamburger-icon:before {
  opacity: 1;
  width: 100%;
} */

.hamburger-icon:before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
}
.hamburger-icon {
  vertical-align: middle;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 100;
  cursor: pointer;
  display: inline-block;
}
.hamburger-icon div {
  position: absolute;
  height: 2px;
  right: 2px;
  left: 2px;
  background-color: #2c5baa;
  border: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out 0.2s,
    top 0.2s ease-in-out 0.2s, background-color 0.3s;
  -moz-transition: -moz-transform 0.2s ease-in-out 0.2s,
    top 0.2s ease-in-out 0.2s, background-color 0.3s;
  -o-transition: -o-transform 0.2s ease-in-out 0.2s, top 0.2s ease-in-out 0.2s,
    background-color 0.3s;
  transition: transform 0.2s ease-in-out 0.2s, top 0.2s ease-in-out 0.2s,
    background-color 0.3s;
  vertical-align: top;
}
.hamburger-icon div.top {
  top: 25%;
  margin-top: -1px;
}
.open-nav .hamburger-icon div.top {
  transform: rotate(-135deg);
  top: 50%;
  background-color: #d62625;
}
.hamburger-icon div.middle {
  top: 50%;
  margin-top: -1px;
}
.open-nav .hamburger-icon div.middle {
  opacity: 0;
}
.hamburger-icon div.bottom {
  top: 75%;
  margin-top: -1px;
}
.open-nav .hamburger-icon div.bottom {
  transform: rotate(135deg);
  top: 50%;
  background-color: #d62625;
}
.open-nav .off-canvas-main {
  transform: translateX(260px);
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.open-nav .off-canvas-nav {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.open-nav .hamburger-icon:before {
  opacity: 1;
  width: 100%;
}

/* copied from HDFC */

.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.bg-white {
  background-color: #fff !important;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.desktopNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: center;
  position: relative;
  vertical-align: bottom;
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}
/* .d-none {
  display: none!important;
} */
.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.desktopNav ul li.dropdown.spriteMenu {
  position: initial;
}
.desktopNav ul li {
  display: inline-block;
  vertical-align: bottom;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown,
.dropleft,
.dropright,
.dropup {
  position: relative;
}
.desktopNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: center;
  position: relative;
  vertical-align: bottom;
}

.desktopNav ul li > a {
  display: block;
  color: #777777;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  padding: 10px 8px 10px 9px;
  font-weight: 600;
  border-bottom: 2px solid #fff;
}
a {
  color: #4285f4;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
@media (min-width: 1200px) {
  .desktopNav ul li > a {
    padding: 10px 16px 10px 16px;
  }
}

.desktopNav ul li a figure {
  padding: 0;
  margin: 0;
}
figure {
  margin: 0 0 1rem;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
*,
::after,
::before {
  box-sizing: border-box;
}
figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
img {
  vertical-align: middle;
  border-style: none;
}

.desktopNav ul li a figure figcaption {
  padding: 7px 0 0;
  margin: 0;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
*,
::after,
::before {
  box-sizing: border-box;
}
/* dropdown hover */
.desktopNav ul li.dropdown:hover > .dropdown-menu {
  display: block;
}
/* dropdown */
.desktopNav ul li.dropdown.spriteMenu .dropdown-menu {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}
.desktopNav ul li.dropdown > .dropdown-menu {
  min-width: 100%;
  border-radius: 0;
  border: 0;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.05);
  z-index: 2;
  margin: 0;
}
.desktopNav ul li .dropdown-menu {
  padding: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.desktopNav ul li.dropdown.spriteMenu .dropdown-menu a {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.desktopNav ul li.dropdown > .dropdown-menu a {
  text-align: left;
  vertical-align: top;
  font-size: 12px;
  border: 0;
  line-height: 1;
  padding-top: 9px;
  padding-bottom: 9px;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

/*  */
.negative-margin-left-right {
  margin-right: -15px;
  margin-left: -15px;
}
header .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search .form-control {
  background: url(/images/searchbg.png) no-repeat right center;
  padding-right: 50px;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  display: block;
  width: 100%;
  /* height: calc(1.5em + 0.75rem + 2px); */
  /* padding: 0.375rem 0.75rem; */
  padding: 0.375rem 0.75rem !important;
  height: calc(1em + 0.5rem + 2px) !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  margin: 0px !important;
}
.flex-basis-33 {
  flex-basis: 33.3333%;
}

/* Navigation CSS */
.nav-wrapper .flex-container {
  display: flex;
  flex-direction: row;
}

.nav-wrapper .flex-container .flex-item {
  flex-grow: 1;
  flex-basis: auto;
}

.nav-wrapper .flex-container .name {
  width: 80px;
  word-break: keep-all;
  text-align: center;
}
.nav-item .flex-item .flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-item .nav-icon {
  border: 1px solid #dfe3e7;
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50%;
}

.nav-item .nav-icon img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Carousel Section CSS */
.carousel-section {
  margin-right: -15px;
  margin-left: -15px;
}

.carousel-section .slick-prev {
  z-index: 8;
  left: 60px;
}

.carousel-section .slick-next {
  z-index: 8;
  right: 60px;
}
.carousel-section img {
  width: 100% !important;
}

/* .bestSellingBrandItem .flex-container {
  display: flex;
  flex-direction: column;
} */

/* .bestSellingBrandItem .flex-container > div {
  text-align: center;
} */
/* .bestSellingBrandItem img {
  max-width: 100%;
} */

/* .bestSellingBrandItem .borderTop {
  border-top: 1px solid #dee2e6 !important;
} */

/* .bestSellingBrandItem .border {
  border: 1px solid #dee2e6 !important;
} */

/* .bestSellingBrandItem .padding {
  padding: 1rem !important;
  padding: 16px !important;
} */

.off-div {
  /* margin-top: -28px;
  background: white;
  margin-bottom: 15px;*/
  color: #666;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #dee2e6 !important;
  font-weight: 700;
  padding: 5px;
  margin-top: -35px;
  min-height: 36px;
  margin-bottom: 15px;
}
/* .bestSellingBrandItem .button > a {
  background-color: #98272b !important;
} */

/* .trendingCategoryItem .categoryImage img {
  max-width: 100%;
} */

/* .trendingCategoryItem .logoImage img {
  max-width: 100%;
  margin-top: -40px;
  background: white;
} */

/* .trendingCategoryItem .button > a {
  background-color: #98272b !important;
} */
/* .trendingCategoryItem .flex-container > div {
  text-align: center;
} */
.logo-box {
  border: 1px rgb(233, 238, 244) solid;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 14.4px 1.6px rgba(204, 204, 204, 0.26);
  max-width: 170px;
  margin: -25px auto 0;
  position: relative;
}
/* .trendingBrands .brandLogo img {
  max-width: 100%;
  margin-top: -40px;
  background: white !important;
}

.trendingBrands .brandLogo {
  background: white !important;
} */
.off-logo {
  border: 1px rgb(233, 238, 244) solid;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 14.4px 1.6px rgba(204, 204, 204, 0.26);
  max-width: 170px;
  margin: -48px auto 0;
  position: relative;
}
/* manually copied CSS */

/* Style CSS copied 
::-webkit-input-placeholder { color: #666;}
::-webkit-selection{background:#98272b;color:#fff;text-shadow:0 0 transparent}
  Firefox 19+ 
::-moz-placeholder { color: #666;}
::-moz-selection{background:#98272b;color:#fff;text-shadow:0 0 transparent}
  IE 10+ 
:-ms-input-placeholder {color: #666;}
::-ms-selection{background:#98272b;color:#fff;text-shadow:0 0 transparent}
Firefox 18- 
:-moz-placeholder {  color: #666;}
::selection{background:#98272b;color:#fff;text-shadow:0 0 transparent}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;-moz-appearance:none;appearance:none;margin:0;}
input[type=number]{-moz-appearance:textfield;appearance:textfield;-webkit-appearance:textfield;} 
img { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; max-width: 100%;transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out }
a {color: #007dc6; transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out }
a:hover {text-decoration: none;}
a[data-toggle="modal"]{outline:none}
body {background:#ffffff; font-family: 'Roboto', sans-serif; font-weight:400 }
.top-gry { background-color: #fff }
.top-links { margin: 0;}
.top-links li { position: relative; z-index: 2; line-height: 30px; font-size: 12px }
.top-links li { color: #58595b }
.top-links li span { padding: 0 10px }
.top-links li a { color: #58595b }
.top-links li a:hover { color: #98272b }

.hamburger-icon:before { content: " "; display: block; position: fixed; top: 0; left: 0; height: 100%; width: 0; opacity: 0;  background: rgba(0, 0, 0, .4) }
.hamburger-icon { vertical-align: middle; position: relative; height: 32px; width: 32px; z-index: 100; cursor: pointer; display: inline-block }
.hamburger-icon div { position: absolute; height: 2px; right: 2px; left: 2px; background-color: #2c5baa; border: 0; -webkit-transition: -webkit-transform .2s ease-in-out .2s, top .2s ease-in-out .2s, background-color .3s; -moz-transition: -moz-transform .2s ease-in-out .2s, top .2s ease-in-out .2s, background-color .3s; -o-transition: -o-transform .2s ease-in-out .2s, top .2s ease-in-out .2s, background-color .3s; transition: transform .2s ease-in-out .2s, top .2s ease-in-out .2s, background-color .3s; vertical-align: top }
.hamburger-icon div.top { top: 25%; margin-top: -1px }
.open-nav .hamburger-icon div.top { transform: rotate(-135deg); top: 50% ; background-color: #d62625}
.hamburger-icon div.middle { top: 50%; margin-top: -1px }
.open-nav .hamburger-icon div.middle { opacity: 0 }
.hamburger-icon div.bottom { top: 75%; margin-top: -1px }
.open-nav .hamburger-icon div.bottom { transform: rotate(135deg); top: 50% ; background-color: #d62625}
.open-nav .off-canvas-main { transform: translateX(260px);position: fixed; top: 0; bottom: 0; height: 100%; width: 100%; overflow: hidden; }
.open-nav .off-canvas-nav { -webkit-transform: translateX(100%); transform: translateX(100%); }
.open-nav .hamburger-icon:before {opacity:1; width: 100%;}

.off-canvas-nav {position: fixed; width: 260px; left: -260px; background-color:#ffffff; border-right: 1px solid #c5c5c5; overflow-y: auto; z-index: 9; height:100%; overflow-x:hidden; overflow-y:auto}
.off-canvas-nav .list-unstyled li {position:relative}
.off-canvas-nav .list-unstyled li+li:after { content: " "; position: absolute; top: 0; left: 20px; right: 20px; height: 1px; background-color: #c5c5c5;}
.off-canvas-nav .list-unstyled a {position: relative;text-decoration: none; cursor: pointer; line-height: 40px; padding:0 20px;color: #58595b;text-transform: uppercase; font-size: 12px; display: block;}
.off-canvas-nav li.parent>a:after { content: ""; float: right; background-image: url(/images/spritesheet.png); background-position: -257px -232px; width: 7px; height: 12px; margin: 14px 0;}
.left-nav-toplink { height: 100%; overflow: hidden; overflow-y: auto; }
.off-canvas-nav .subMenu>div>span {text-align:right; position:relative;line-height:40px; padding: 0 15px; font-size: 12px; cursor:pointer}
.off-canvas-nav .subMenu>div>span:before { content: ""; display:inline-block; background-image: url(/images/spritesheet.png); background-position: -257px -220px; width: 7px; height: 12px; margin:-2px 8px;}

.subMenu {display: block; position: absolute; top: 0; height: 100%; width: 100%; right: -100%; text-transform: uppercase; background-color: #f3f3f3; overflow-x: hidden; overflow-y: auto;transition: transform .2s cubic-bezier(.215,.61,.355,1) .3s,right .3s cubic-bezier(.55,.055,.675,.19); transform-origin: 50% 0;}
.subMenu.openSub {transition: transform .2s cubic-bezier(.215,.61,.355,1) .3s,right .3s cubic-bezier(.215,.61,.355,1) .2s; right: 0;}
.classSearch .form-control {background: url(/images/searchbg.png) no-repeat right center; padding-right: 50px; }
.classSearch .form-control:focus {outline: none; box-shadow: none; border-color: #98272b;}

.desktopNav ul {list-style: none; padding: 0; margin: 0; font-size: 0; text-align: left; position: relative; white-space: nowrap;}
.desktopNav ul li {display: inline-block; vertical-align: top;}
.desktopNav ul li>a { display: block; color: #666; font-size: 12px; text-transform: uppercase; text-align: center; line-height: 1; padding:10px 28px 10px 27px; transition: none; -moz-transition: none; -webkit-transition: none; }
.desktopNav ul li a figure img {border-radius: 50%; border:1px solid #dfe3e7; padding:3px}
.desktopNav ul li a figure { padding: 0; margin: 0;}
.desktopNav ul li a figure figcaption { padding: 5px 0 0; margin: 0; }
.desktopNav ul li.dropdown:hover>a,
.desktopNav ul>li>a:hover {text-decoration: none; color: #150145; box-shadow: 0 3px 8px -3px rgba(0,0,0,.05); border-color:#f0f6fd;}
.desktopNav ul li a[aria-haspopup="true"],
.desktopNav ul li a.dropdown-toggle {white-space: initial; position: relative; z-index: 3}
.desktopNav ul li a[aria-haspopup="true"]:before,
.desktopNav ul li a.dropdown-toggle:before { left: 0; right: 0; height: 15px; background: #fff; bottom:-10px; content:""; position: absolute; display: none; }
.desktopNav ul li.dropdown:hover a[aria-haspopup="true"]:before,
.desktopNav ul li.dropdown:hover a.dropdown-toggle:before {display: block;}
.desktopNav ul li a.dropdown-toggle:after {display: none;}
.desktopNav ul li.dropdown.spriteMenu { position: initial; }
.desktopNav ul li.dropdown:hover>.dropdown-menu {display: block;}
.desktopNav ul li.dropdown>.dropdown-toggle:active {pointer-events: none;}
.desktopNav ul li.dropdown>.dropdown-menu {min-width: 100%; border-radius: 0; border: 0;box-shadow: 0 0 4px 2px rgba(0,0,0,.05); z-index: 2; margin: 0}
.desktopNav ul li.dropdown>.dropdown-menu a {text-align: left; vertical-align: top; font-size: 12px; line-height: 1;padding-top: 9px; padding-bottom: 9px;transition:none;-moz-transition:none; -webkit-transition: none}
.desktopNav ul li.dropdown>.dropdown-menu a:hover {box-shadow: none;}
.desktopNav ul li.dropdown.spriteMenu .dropdown-menu {-webkit-column-count:4; -moz-column-count:4; column-count:4;}
.desktopNav ul li.dropdown.spriteMenu .dropdown-menu a { -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;}

.destSealingGread .offDiv {color: #666; border-radius: 5px; background: #fff; border: 1px solid #dee2e6!important; font-weight: 700; padding: 5px; margin-top: -35px; min-height: 36px; margin-bottom: 15px; }
.destSealingGread  img {margin: 5px}

.productList {padding: 10px 10px 0;}
.productList .pr-det {padding:15px 10px;}
.productList .pr-det .logoBox {border: 1px rgb(233, 238, 244) solid;background-color: rgb(255, 255, 255); box-shadow: 0px 6px 14.4px 1.6px rgba(204, 204, 204, 0.26); max-width: 170px; margin:-40px auto 0; position: relative;}
.productList .pr-det .logoBox img {max-width: 100%;}


.lh-1 {line-height: 1}
.fw-100 {font-weight: 100}
.fw-300 {font-weight: 300}
.fw-400 {font-weight: 400}
.fw-700 {font-weight: 700}
.fw-900 {font-weight: 900}
.fs-10 {font-size: 10px !important;}
.fs-12 {font-size: 12px !important;}
.fs-14 {font-size: 14px;}
.fs-16 {font-size: 16px;}
.fs-18 {font-size: 18px;}
.fs-20 {font-size: 20px;}
.fs-22 {font-size: 22px;}
.fs-26 {font-size: 26px;}
.fs-24 {font-size: 24px;}
.fs-30 {font-size: 30px;}
.fs-36 {font-size: 36px;}
.fs-50 {font-size: 50px;}
.bg-danger {background: #98272b !important}
.text-danger {color: #98272b !important}
.btn-outline-danger { color: #98272b; border-color: #98272b; }
.btn-outline-danger:hover,
.btn-danger { color: #fff; background-color: #98272b; border-color: #98272b; }
.form-control { }
select.form-control { background-image: url(/images/downAw.png); background-repeat: no-repeat; background-position: right center; padding-right: 30px;-webkit-appearance: none; -moz-appearance: none; appearance: none; }
.dropdown-toggle::after {border: 0; width: 15px; height: 7px; background: url(/images/dropdown.png) no-repeat center bottom; margin: -2px 0px 0 4px; vertical-align: middle;}

.customModal .modal-dialog {max-width: 500px}
.customModal .modal-content {border-radius:0; border: 0;}
.customModal .modal-body {padding:25px 44px; padding-bottom: 35px;}
.customModal .modal-body:before {left:20px; right:20px; bottom:20px; top:25px; content:''; position:absolute; z-index:0; border:1px solid #98272b;}
.customModal .modal-body>div {position: relative; z-index: 2;}
.customModal a.close-btn { right: 8px; top: 10px; position: absolute; content: ''; background: #fff url(/images/close_gray.png) no-repeat center; width: 26px; height: 26px; z-index: 9; cursor: pointer; font-size: 0; text-indent: -9999px; background-size: 16px auto;}

.Discounts-owl-carousel,
.Offers-owl-carousel,
.Recent-owl-carousel {text-align: center;border-right: 1px transparent solid}
.Discounts-owl-carousel img,
.Offers-owl-carousel img,
.Recent-owl-carousel img {max-width: 90%; display: inline-block !important; width: auto !important;}

.owl-nav .owl-prev { font-size: 0; position: absolute; width: 15px; height: 30px; left:0; top: 50%; background: rgba(255, 255, 255, .85) url(/images/spritesheet.png); background-position: -354px 3px;  margin-top: -15px }
.owl-nav .owl-next { font-size: 0; position: absolute; width: 14px; height: 30px; right:0; top: 50%; background: rgba(255, 255, 255, .85) url(/images/spritesheet.png); background-position: -354px -111px;  margin-top: -15px }


.TrendingBrands-owl-carousel .productList .pr-det {position: absolute; width: 100%; bottom: 0;padding-top:0; }
.TrendingBrands-owl-carousel .productList .pr-det .logoBox {background: rgba(255,255,255,0.9); width: 100%; text-align: center; margin: 0 }
.TrendingBrands-owl-carousel .productList .pr-det .logoBox img { width:auto !important; display: inline-block !important;}
.cartBtn span {display: block; color: #fff; font-size: 12px; text-align: center; margin:0 0 -6px;}
.cartBtn {position: fixed; bottom: 50px; right:5%; z-index: 99;border-radius: 50%; overflow: hidden; width: 54px; text-align: center; box-shadow: 0 .2rem 1rem rgba(0,0,0,.5)!important; background: #bc3f3d; padding:6px 10px;}

.TransactionsAdress {position: relative;}
.TransactionsAdress h3 {cursor: pointer;}
.TransactionsAdress:after {background: url(/images/down-arrow.png) no-repeat center; content:''; position: absolute; width:  16px; height: 10px; right: 10px; top: 15px; cursor: pointer;}
.transactions-list.open .TransactionsAdress:after {transform: rotate(180deg);}
.TransactionsAdress .TransactionsdetailsBox {display: none;}
.transactions-list.open .TransactionsAdress .TransactionsdetailsBox {display: block;}
.transactions-list.open .TransactionsAdress h3 {padding-bottom: 0 !important}
.TransactionsdetailsBox .col span {display: block; color: #212529;font-size: 12px; font-weight:400}
.TransactionsdetailsBox .col {font-size: 12px;}
.TransactionsdetailsBox .row  { border-top: 1px dashed #efefef; }


.filterArya {box-shadow: 0px 4px 20.4px 3.6px rgba(0, 0, 0, 0.04); overflow: hidden; }
.searchBrand {background: #faf0f0 url(/images/search-icon-1.png) no-repeat 10px center; padding-left: 30px !important}
.custome-check2 {font-size: 0}
.custome-check2 li {width: 33.33%; margin: 0 !important; position: relative;}
.custome-check2 label {cursor:pointer; padding:3px; display: block; text-align: center; font-size: 12px; margin: 5px; }
.custome-check2 input {opacity: 0; position: absolute;}
.custome-check2 label img {filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -o-filter: grayscale(100%); -ms-filter: grayscale(100%);}
.custome-check2 input:checked + label,
.custome-check2 input:checked ~ label {color: #bc3f3d;}
.custome-check2 input:checked ~ label img {filter: grayscale(0); -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -o-filter: grayscale(0); -ms-filter: grayscale(0);}

.custome-check {font-size: 0}
.custome-check li {width: 50%; margin: 0 !important; position: relative;}
.custome-check label {cursor:pointer; padding:3px 5px; border-radius: 20px; border:1px solid #ccc; position:relative; display: block; text-align: center; font-size: 12px; margin: 5px; }
.custome-check input {opacity: 0; position: absolute;}
.custome-check input:checked + label,
.custome-check input:checked ~ label {background-color: #bc3f3d; border-color: #bc3f3d; color: #fff}

.product-box {box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);overflow: hidden; min-height: 100%}
.product-box figure {margin: 0; position: relative; overflow: hidden; padding:10px;}
.product-box figure figcaption { margin: 0; padding: 10px 0 10px; font-weight: 700; font-size: 24px; }
.product-box .product-box-overlaw {position: absolute; background: rgba(255,255,255,0.9); top: 50%; color: #000; width:70%; padding: 10px; margin-top: -55px}
.product-box .product-box-overlaw p {margin: 0; font-weight: 600;}
.product-box .product-box-overlaw.get-one img {max-height:48px;}
.product-box .product-box-overlaw.upto img {max-height:64px;}
.product-box .product-box-overlaw p + p {line-height: 1; padding: 5px;}

.combo-box .value {border-bottom: 1px dashed #2471b4}
.combo-box .product-box {box-shadow: 0px 4px 20.4px 3.6px rgba(0, 0, 0, 0.04);}
.combo-box .product-box figure figcaption {font-size: 18px}
.combo-box .bg-alternet {background-color: #f4f4f4; padding: 10px; position: relative; overflow: hidden;margin-top: -5px;}
.combo-box:nth-child(even) .bg-alternet {background-color: #eef7ff;}

.combo-box .tag { width: 200px; position: absolute; top: 15px; left: -70px; text-align: center; line-height: 30px; font-size: 12px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); box-shadow: 2px 2px 5px rgba(0,0,0,.2);background: #b83e3c; color: #ffffff;}
.combo-box .row .col-6 + .col-6:after {background: url(/images/combo-plus.png) no-repeat center/cover; content:''; position: absolute; top: 50%; left: -20px; margin-top: -20px ; height: 40px; width: 40px; border-radius: 50%; overflow: hidden;}

.breadcrumb-item a {color: #98272b }
.SummaryRight {background-color: rgb(255, 255, 255); box-shadow: 0px 4px 20.4px 3.6px rgba(0, 0, 0, 0.04);}
.custom-control-input:checked~.custom-control-label::before { color: #fff; border-color: #98272b; background-color: #98272b; }

.bg-light3 { background:#fcfcfc !important; }

.tableQty,
.tableQty .table {color: #6d7278}
.tableQty .table tr th {border-bottom: 1px solid #f5f5f5; font-weight: 500}
.cartAdress {position: relative; background-color:#fff9e7 !important;}
.cartAdress h3 {cursor: pointer;color: #6c757d!important}
.cartAdress:after {background: url(/images/down-arrow.png) no-repeat center; content:''; position: absolute; width:  16px; height: 10px; right: 10px; top: 15px; cursor: pointer;}
.tableQty.open .cartAdress:after {transform: rotate(180deg);}
.cartAdress .detailsBox {display: none;}
.tableQty.open .cartAdress .detailsBox {display: block;}

.define-quantity { width: 65px;  border:1px solid #bc3f3d; overflow: hidden; background-color: #bc3f3d; display: none; vertical-align: middle;}
.addGQty .define-quantity {display: inline-block;}
.define-quantity input { border: 0; text-align: center; display: block; width: 100%;font-size: 12px; height: 20px; outline: none; background-color: transparent; color: #fff}
.define-quantity span { float: right; padding: 4px; line-height: 1; cursor: pointer; width:20px !important; font-size: 0; position: relative; height: 20px; margin-top: -20px; background: #fcfcff;  border-left:1px solid #bc3f3d;}
.define-quantity span.dec { float: left; border-right:1px solid #bc3f3d; border-left: 0}
.define-quantity span.inc:before { position: absolute; width: 2px; left: 0; height: 10px; top: 50%; content: ''; background: #666; left: 50%; margin: -5px 0 0 -1px; }
.define-quantity span:after { position: absolute; width: 10px; left: 0; height: 2px; top: 50%; content: ''; background: #666; left: 50%; margin: -1px 0 0 -5px; }

.brandPage {margin-top: -70px;}

.SummaryRight .productPageBox { background: #FFFFFF; border:1px solid #dee2e6!important; }

#MobileSummaryPopup .close { right: 0px; top: -7px; }
.MobileSummaryBtn {display: block; left: 0; right: 0; position: fixed; bottom: 0; background-color:#98272b; color: #fff; padding:15px 13px 10px; z-index: 99; text-transform: uppercase;  overflow: hidden;box-shadow: 0px -0.25rem .25rem rgba(0,0,0,.075)!important;}
.MobileSummaryBtn:hover {color: #fff}
.MobileSummaryBtn span {float: left;}
.MobileSummaryBtn span:nth-child(2) {float: right;background: url(/images/downAw1.png) no-repeat right center; padding-right: 30px; }

.productPageCoupon {border:1px dashed #ced4da}
.productPageCoupon.OrangeBox {border:1px dashed #98272b}
.productPageCoupon.RedBox {border:1px dashed #98272b}
.border-dashed-green {border:1px dashed #98272b}
.productPageCoupon.GreenBox {border:1px dashed #98272b !important; background: #fff9f9}
.productPageCoupon.GreenBox label {color: #98272b}
.productPageCoupon.GreenBox .custom-control-input:checked~.custom-control-label::before {content: "\f00c";  font-family: "Font Awesome 5 Free"; font-size: 10px; text-align: center; color: #fff; border-color: #98272b; background-color: #98272b; font-weight: bold;}
.productPageCoupon.GreenBox .custom-checkbox .custom-control-label::before {border-radius: 0}
.productPageCoupon.GreenBox .custom-radio .custom-control-input:checked~.custom-control-label::after {display: none;}

.cart-table.brand-2 thead th,
.cart-table.brand-2 tbody td { width: 25%; text-align: center !important;vertical-align: middle;}
.cart-table.brand-2 tbody td p {margin: 0;color: #408001; font-size: 12px;}
.promoFild .form-control,
.storeFinder .form-control { border-width: 0 0 1px 0; border-radius: 0; padding: 0; height: calc(1em + .75rem + 2px); background-color: transparent; border-color: #dee2e6!important; }
.editPromo { position: absolute; right: 9px; top: 2px; }

.stepsBox .item {padding-top: 70px;}
.stepsBox .item:after {height: 1px; position: absolute; right: .25rem; left: .25rem; top:35px; background: #979797; content: '';z-index: 1}
.stepsBox .item:before {height: 10px; position: absolute; right: .25rem; left: .25rem; top:30px;  content: ''; border-left:1px solid #979797; border-right:1px solid #979797;z-index: 2}
.stepsBox .item figure:after { position: absolute; top:-65px; content:'STEP'; text-align: center; background: #fff; width:50px; height:50px; border-radius: 50%; left: 50%; margin-left: -25px; z-index: 3;-webkit-box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.1); box-shadow:0px 0px 5px 0 rgba(0,0,0,0.1); padding:28px 0 0 0; font-size: 10px; line-height: 1}
.stepsBox .item figure:before {position: absolute;top:-61px;content:'1';text-align: center;width:42px;height:42px;border-radius: 50%;left: 50%;margin-left: -21px;z-index: 4;font-size: 18px;color: #98272b;border: 1px solid #98272b;line-height: 1.5;}
.stepsBox .item figure:before {content:'1'}
.stepsBox .owl-item:nth-child(2) .item figure:before {content:'2'}
.stepsBox .owl-item:nth-child(3) .item figure:before {content:'3'}
.stepsBox .owl-item:nth-child(4) .item figure:before {content:'4'}
.stepsBox .owl-item:nth-child(5) .item figure:before {content:'5'}
.stepsBox .item figure { background:#fff; border:1px solid #dadada; padding: 4px; margin: 0; min-height: 100%; position: relative;}
.stepsBox .item figure img {width: 100%;border-bottom: 2px solid #98272b;}
.stepsBox .item figure figcaption {padding: 5px; min-height: 82px;}
.stepsBox .item figure figcaption p {margin: 0;}
.stepsBox .item figure figcaption p span {color: #98272b}

.ImportantInstructions {border-width: 1px; border-color: rgb(240, 246, 253); border-style: solid; border-radius: 4px; }
.ImportantInstructions .bg-light {background-color: #fafbff !important}
.ImportantInstructionsList {list-style: none; margin: 0; padding:0;}
.ImportantInstructionsList li { padding: 2px 0 2px 30px; position: relative;}
.ImportantInstructionsList li:after {position: absolute; left: 5px; width: 14px; height: 14px; background-color: #98272b; content: '\f00c'; color: #fff; top: 4px;font-family: "Font Awesome 5 Free"; font-weight: bold; font-weight: bold; font-size: 10px; text-align: center;}
.ImportantInstructionsList li.dont:after {background-color: #df3c3d; content: '\f00d';}
.ImportantInstructionsList li span {color: #98272b; font-weight: 500}
.ImportantInstructionsList li.dont span {color: #df3c3d}

.profile-pic img {max-width: 150px}
.profile-pic-change { position: relative;width: 150px; display: inline-block; border-radius: 50%; overflow: hidden; }
.profile-pic-change figcaption { position: absolute; top: 0; right: 0; bottom: 0; left: 0;  overflow: hidden; z-index:9;
 background: rgba(0,0,0,.5) url(/images/pic-change.png) no-repeat center;}
.profile-pic-change figcaption input[type="file"] { position: absolute; top: 0; right: 0; bottom: 0; left: 0;  opacity: 0; cursor: pointer;}


@media (min-width:1200px) {
.productList .pr-det { font-size: 18px; }
}

@media (max-width:1199px) {
.desktopNav ul li>a {padding: 10px 17px}
}

@media (min-width:768px) {
.TransactionsdetailsBox .row + .row span { display: none; }
.TransactionsdetailsBox .row + .row span.priceBox { display: inline-block; width: 38px; text-align: right; font-weight: 400;}
.MobileFilterBtn { display: none; }
.filterArya  {margin-top: -60px; background: #fff}
.hideOnDesktop {display: none !important;}
}

@media (max-width:991px) {
.desktopNav {display: none;}
}

@media (min-width: 992px){
.MobileSummaryBtn { display: none; }

}

@media (max-width: 767px) {
.destSealingGread .offDiv {font-size: 14px}
.TransactionsdetailsBox .col {-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
.MobileFilterBtn:focus,
.MobileFilterBtn { display: block; left: 0; right: 0; position: fixed; bottom: 0; background: #79191f url(/images/filter-icon.png) no-repeat center right; color: #fff; padding: 15px 13px; z-index: 99; text-transform: uppercase; overflow: hidden; box-shadow: 0px -0.25rem .25rem rgba(0,0,0,.075)!important; }

.cart-list.tableQty table.table {font-size: 0;}
.cart-list.tableQty table.table thead {display: inline-block; width: 50%; text-align: left;}
.cart-list.tableQty table.table tbody {display: inline-block; width: 50%; text-align: left;}
.cart-list.tableQty table.table thead tr,
.cart-list.tableQty table.table tbody tr,
.cart-list.tableQty table.table thead tr th,
.cart-list.tableQty table.table tbody tr td {display: block;}
.cart-list.tableQty table.table thead tr th,
.cart-list.tableQty table.table tbody tr td {padding-top: 3px; padding-bottom: 3px;border: 0;}
.cart-list.tableQty table.table tbody tr td {text-align: right !important; padding-right:15px}
.cart-list.tableQty.bg-light {background-color: #fff !important;border: 1px solid #ECF2F6; box-shadow: 0 0 4px 0 rgba(0,0,0,0.14); border-radius: 4px; overflow: hidden;}
.cart-list.tableQty table.table td {font-size: 12px;}
.cart-list.tableQty table.table th {font-size: 12px;}
.cart-table tbody td p {text-align: left;}
.cart-table.brand-2 thead th,
.cart-table.brand-2 tbody td { width: 33.33%; font-size: 12px; padding: 10px 5px; vertical-align: middle;}
.cart-table.brand-2 thead th,
.cart-table.brand-2 tbody td { width: 33.33%; font-size: 12px; padding: 10px 5px; vertical-align: middle; }
.hideOnMobile {display: none !important;}
.pa { padding-top: 0 !important; }
.brandPage {margin-top: -40px;}
}

@media (max-width: 575px) {

} */

/* Footer CSS copied*/

.MoreAboutBrands h3 {
  font-size: 22px;
}
.MoreAboutBrands h2 {
  font-size: 22px;
}
.MoreAboutBrands p {
  font-size: 12px;
}
.VerticalLinksCat {
  display: inline-block;
}
.footerVerticalLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px 0 10px;
  margin: 0;
  list-style: none;
  position: relative;
  font-size: 12px;
}
.footerVerticalLinks:after {
  background: #666;
  width: 30px;
  height: 4px;
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
}
.footerVerticalLinks-item {
  font-weight: 600;
}

.footerVerticalLinks-item a {
  color: #999;
  font-weight: 400;
}
.footerVerticalLinks-item::after {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #6c757d;
  content: "|";
}
.footerVerticalLinks-item:nth-child(1)::after {
  content: ":";
  padding-left: 0.2rem;
}
.footerVerticalLinks-item:last-child::after {
  display: none;
}

footer .footer-arya {
  background: #f6f6f6;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer .footer-arya h4 {
  color: #999;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid #999;
  padding: 0 0 10px;
  margin: 30px 0 15px;
  color: #606060;
}
footer .footer-arya ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .footer-arya ul li a {
  color: #999;
  line-height: 1.9;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.footerVerticalLinks-item a:hover,
footer .footer-arya ul li a:hover {
  color: #333;
  text-decoration: none;
}
.footer-social .fab {
  font-size: 26px;
}
.footerLast {
  border-top: 2px solid #c5c5c5;
  padding-top: 15px;
  font-size: 12px;
  color: #626262;
  margin-top: 25px;
}
.footerLast a {
  color: #626262;
}
.footerLast a:hover {
  color: #333;
  text-decoration: none;
}

.br-t-1 {
  border-top: 1px solid #ccc;
}
.br-b-1 {
  border-bottom: 1px solid #ccc;
}
.fs-12 {
  font-size: 12px;
}
.fs-16 {
  font-size: 16px;
}
.br-color-light {
  border-color: #eaeaea;
}
.bg-fbfbfb {
  background: #fbfbfb;
}

.DownloadSMSform .form-control {
  background: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  padding-left: 2px;
  padding-right: 70px;
}
.DownloadSMSform .btn {
  padding: 0.2rem 0.75rem;
  font-size: 1rem;
  border-color: #ccc;
  border-radius: 0;
}
.footer-arya .bg-fbfbfb {
  color: #606060;
}
.footer-arya .bg-fbfbfb h5 {
  margin-bottom: 2px !important;
  font-weight: 700;
}
.footer-arya .bg-fbfbfb label,
.footer-arya .bg-fbfbfb a {
  color: #606060;
  font-size: 14px;
}
.DownloadAppNew,
.customNewCheck {
  position: relative;
}
.DownloadAppNew:after,
.customNewCheck:after {
  background: #666;
  width: 20px;
  height: 4px;
  position: absolute;
  content: "";
  left: 0;
  bottom: 1px;
}
.customNewCheck li {
  position: relative;
}
.customNewCheck .list-inline-item:not(:last-child) {
  margin-right: 20px;
}
.customNewCheck li input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.customNewCheck li label {
  cursor: pointer;
}
.customNewCheck li input:checked + label {
  color: #417505;
  font-weight: 700;
}
.DownloadSMSform .formFild {
  position: relative;
}
.DownloadSMSform .btn {
  padding: 0.2rem 0.75rem;
  font-size: 1rem;
  border-color: #ccc;
  position: absolute;
  right: 0;
  top: 1px;
}
.br-0 {
  border: 0 !important;
}
footer.footer-arya ul.payment-logos {
  display: inline-block;
  border: 0;
  margin: 0;
  padding: ;
}
footer .footer-arya ul.payment-logos li {
  font-size: 0;
  float: left;
  text-indent: -9999px;
  margin: 10px 0 0 10px;
  background-image: url(/images/spritesheet.png);
  background-position: 0 -60px;
  width: 67px;
  height: 40px;
}
footer .footer-arya ul.payment-logos .visa {
  background-position: -67px -100px;
}
footer .footer-arya ul ul.payment-logos .mastercard {
  background-position: -267px -200px;
}
footer .footer-arya ul.payment-logos .diners-club {
  background-position: 0 -140px;
}
footer .footer-arya ul.payment-logos .american-express {
  background-position: -267px -120px;
}
footer .footer-arya ul.payment-logos .rupay {
  background-position: -200px -120px;
}
footer .footer-arya ul.payment-logos .NetBanking {
  background-position: 0 -180px;
}
footer .footer-arya ul.payment-logos .EMIOptions {
  background-position: -67px -60px;
}

@media (min-width: 768px) {
  .hideOnDesktop {
    display: none !important;
  }
  .br-zero {
    border: 0 !important;
  }
}

@media (max-width: 767px) {
  .DownloadAppNew,
  .customNewCheck {
    position: relative;
  }
  footer.row {
    text-align: left;
  }
  .collepsMobileSix ul,
  .collepsMobileOne ul,
  .collepsMobileTwo ul,
  .collepsMobileThree ul,
  .collepsMobileFour ul,
  .collepsMobileFive ul {
    display: none;
  }
  footer .footer-arya .collepsMobileSix h4,
  footer .footer-arya .collepsMobileOne h4,
  footer .footer-arya .collepsMobileTwo h4,
  footer .footer-arya .collepsMobileThree h4,
  footer .footer-arya .collepsMobileFour h4,
  footer .footer-arya .collepsMobileFive h4 {
    margin: 0;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
  }
  footer .footer-arya .collepsMobileSix h4:after,
  footer .footer-arya .collepsMobileOne h4:after,
  footer .footer-arya .collepsMobileTwo h4:after,
  footer .footer-arya .collepsMobileThree h4:after,
  footer .footer-arya .collepsMobileFour h4:after,
  footer .footer-arya .collepsMobileFive h4:after {
    content: "+";
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-weight: 100;
  }
  footer .footer-arya .collepsMobileSix.open h4:after,
  footer .footer-arya .collepsMobileOne.open h4:after,
  footer .footer-arya .collepsMobileTwo.open h4:after,
  footer .footer-arya .collepsMobileThree.open h4:after,
  footer .footer-arya .collepsMobileFour.open h4:after,
  footer .footer-arya .collepsMobileFive.open h4:after {
    content: "-";
    font-size: 24px;
    top: 2px;
  }
  footer .footer-arya .collepsMobileSix.open h4,
  footer .footer-arya .collepsMobileOne.open h4,
  footer .footer-arya .collepsMobileTwo.open h4,
  footer .footer-arya .collepsMobileThree.open h4,
  footer .footer-arya .collepsMobileFour.open h4,
  footer .footer-arya .collepsMobileFive.open h4 {
    border-color: #ccc;
  }
  footer .footer-arya ul {
    padding: 0 15px 10px;
    border-bottom: 1px solid #999;
    overflow: hidden;
  }
  footer .footer-arya .collepsMobileSix ul,
  footer .footer-arya .collepsMobileFive ul {
    padding-top: 10px;
  }
  footer .footer-arya .collepsMobileFive ul li {
    max-width: 40%;
    display: inline-block;
    width: auto;
    margin-top: 5px !important;
  }
  footer .footer-arya ul li a {
    font-size: 12px;
    line-height: 1;
  }
  footer .footer-arya {
    padding-top: 0;
  }
  .backToTop {
    margin: 0 -15px 15px;
    text-align: center;
    display: block;
    background: #888888;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }
  .backToTop:hover {
    background: #333;
    color: #fff;
    text-decoration: none;
  }

  .footer-arya .col {
    flex-basis: inherit;
    -webkit-box-flex: inherit;
    -ms-flex-positive: inherit;
    flex-grow: inherit;
  }
  .footerLast {
    margin-top: -1px;
    font-size: 11px;
  }
}
